header {
    background-color: #3b2632;
    height: 70px;
}

#brand {
    color: #fff;
    font-size: 30px;
    float: left;
    margin-top: 1%;
    margin-left: 1%
}

#social {
    float: right;
    margin-top: 15px;
    margin-left: 1%
}

.btn-danger {
    margin-left: 10px;
}