.main block {
  border: 1px solid black;
  width: 800px;
  height: 600px;
  padding: 50px;
  
}


.inline-block {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: darkmagenta;
    margin: 20px;
}

body {
   background-image: url(image.jpg);
  background-repeat: no-repeat;
   background-size: cover; 
 
}